/*styling for header and nav links*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
   
}

.head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

/* img element exists in its own div so I can style it separately with ease */
img {
    max-width: 400px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

/* setting the font family for all p and a elements to be uniform, white background on a elements ensures links will show up against images*/ 
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 70%;
    line-height: 150%;
    color: black; 
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: white;
}

 /*parent section has a class of content: want all the information to be centered and organized top to bottom */ 
 .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* styling for each section within main content section*/ 
.sectionContent {
    background-color: white;
    width: 700px;
    padding: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
}


/* each section has a figure with a  link and a class of card with nearly uniform styling except for the background image and the first figure's height */

.card {
    height: 70vh;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/robert-bye-H1T4gvCscTg-unsplash.jpg);
}

.card2 {
    height: 33vh;
    background-size: cover;
    background-position-y: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/jerry-zheng-O52DcUsqOuE-unsplash.jpg);
}

.card3 {
    height: 33vh;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/david-emrich-QNlBDI43rBM-unsplash.jpg);
}

.card4 {
    height: 33vh;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/nicholas-ceglia-XJaOYyUO-4w-unsplash.jpg);
}

.card5 {
    height: 33vh;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/mike-von-v9-ZW3VONcw-unsplash.jpg);
}

footer {
display: flex;
   justify-content: center;
}


@media screen and (max-width: 992px) {
    .card, .card1, .card2, .card3, .card4, .card5, .sectionContent {
      width: 50%;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card, .card1, .card2, .card3, .card4, .card5, .sectionContent {
      width: 100%;
    }
  }
  
